body{
    margin: 0;

}
h1{
    font-family:'Montserrat', sans-serif; 
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.color-container{
    background-color: aqua;
    height: 200px;
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(black, black, black, 0.5);
    border: solid black 2px;
    border-radius: 10px;
}
